.c-nav{
    display: flex;

    &__link{
        padding: 0 32px 0 33px;
        position: relative;

        &::after{
            content: "";
            display: block;
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $black;
        }
    }
}