.c-section-title{
    font-size: rem(32);
    text-align: center;

    span{
        display: block;
        font-size: rem(16);
        color: $main-color;
        padding-top: 8px;
        position: relative;

        &::after{
            content: "";
            position: absolute;
            bottom: -16px;
            left: 50%;
            transform: translateX(-50%);
            width: 64px;
            height: 1px;
            background-color: $accent-color;
        }
    }
    
}