.p-footer {
  text-align: center;
  color: #fff;
  padding-top: rem(40);
  @include mq("md") {
    padding-top: 80px;
  }

  &__company-name {
    padding-top: 20px;
  }

  &__address-inner {
    padding-top: 15px;
  }

  &__address {
    &:not(:first-child) {
      margin-left: 12px;
    }
  }

  &__tel {
    padding-top: 15px;
  }

  &__email {
    padding-top: 15px;
  }

  &__list {
    display: block;
    padding: rem(31) 0 0 0;

    @include mq("md") {
      display: flex;
      justify-content: center;
      padding: 50px 0 120px 0;
    }
  }

  &__link {
    color: #fff;
    border-bottom: rem(1) solid #fff;

    &:nth-child(n + 5) {
      border-bottom: none;
    }
    @include mq("md") {
      display: flex;
      border-bottom: none;
      &:last-child {
        padding: 0 0 0 33px;
      }

      &:not(:first-child) {
        &::after {
          background-color: #fff;
        }
      }
    }
  }
}
