.p-news {
  padding-top: 79px;
  @include mq("md") {
    padding-top: 120px;
  }

  &__list {
    padding-top: rem(40);
    @include mq("md") {
      padding-top: 68px;
    }
  }

  &__item {
    display: block;
    padding: rem(24) 0;
    margin: auto;

    &:not(:nth-child(n + 3)) {
      border-bottom: rem(1) solid #e5e5e5;
    }

    @include mq("md") {
      display: flex;
      padding: 0;
      border-left: 1px solid #e5e5e5;

      &:not(:first-child) {
        margin-top: 24px;
      }

      &:not(:nth-child(n + 3)) {
        border-bottom: none;
      }
    }
  }

  &__text {
    display: inline-block;

    // &:nth-child(2) {
    //     width: calc(100%-90px);
    //   }
  
    //   @include mq("md") {
    //       &:nth-child(2) {
    //           width:inherit;
    //         }
    //   }
  

    &.-yellow {
      color: $accent-color;
    }

 

    &:first-child {
      font-size: rem(14);
      margin-right: rem(12);
    }

    &:nth-child(n + 3) {
      margin-top: rem(16);
      line-height: 1.5;
    }
    @include mq("md") {
      padding: 20px 40px;
      box-sizing: content-box;
      line-height: 1.7;

      &:not(:first-child) {
        border-left: 1px solid #e5e5e5;
      }
      
      &:first-child {
        font-size: rem(16);
        margin-top: 0;
      }
      &:nth-child(n + 3) {
        margin-top: 0;
        line-height: 1.7;
      }
    }
  }

  &__btn-inner {
    text-align: center;
    @include mq("md") {
      margin-top: 35px;
    }
  }
}
