@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Noto+Serif+JP:wght@400;500&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input[type="submit"],
input[type="button"],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.u-desktop {
  display: none;
}

@media screen and (min-width: 1090px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 1090px) {
  .u-mobile {
    display: none;
  }
}

.u-sp {
  display: block;
}

@media screen and (min-width: 768px) {
  .u-sp {
    display: none;
  }
}

.u-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .u-tablet {
    display: block;
  }
}

/* リキッドレイアウト対応 */
html {
  font-size: 16px;
}

@media (max-width: 375) {
  html {
    font-size: 4.26667vw;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 1.53846vw;
  }
}

@media (min-width: 1040px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "Noto Serif JP", serif;
  color: #333333;
  font-weight: 400;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (min-width: 768px) {
  a:hover {
    opacity: 0.8;
  }
}

.l-container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .l-container {
    max-width: 1090px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-footer {
  background-color: #31452d;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, .8);
  z-index: 10;
}

.c-more-btn {
  display: inline-block;
  padding-right: 23px;
  position: relative;
}

.c-more-btn span {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.c-list-btn {
  display: inline-block;
  padding: 16px 60px;
  border: 1px solid #31452d;
}

.c-nav {
  display: block;
}

.c-nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 24px 0;
  padding: 1.5rem 0;
}

@media screen and (min-width: 768px) {
  .c-nav__link {
    padding: 0 32px 0 0;
  }
  .c-nav__link:not(:first-child) {
    padding: 0 32px 0 33px;
  }
  .c-nav__link:not(:first-child)::after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333333;
  }
}

.c-nav__menu {
  display: none;
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
}

@media screen and (min-width: 768px) {
  .c-nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.c-section-title {
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
}

.c-section-title span {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  color: #31452d;
  padding-top: 8px;
  position: relative;
}

.c-section-title span::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 1px;
  background-color: #b69b04;
}

.p-concept {
  padding-top: 79px;
}

@media screen and (min-width: 768px) {
  .p-concept {
    padding-top: 120px;
  }
}

.p-concept__title {
  font-size: 32px;
  font-size: 2rem;
  text-align: center;
}

.p-concept__title span {
  display: block;
  font-size: 16px;
  font-size: 1rem;
  color: #31452d;
  padding-top: 8px;
  position: relative;
}

.p-concept__title span::after {
  content: "";
  position: absolute;
  bottom: -16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 64px;
  height: 1px;
  background-color: #b69b04;
}

.p-concept__inner {
  padding-top: 48px;
  width: 1440px;
  max-width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .p-concept__inner {
    position: relative;
  }
}

.p-concept__img {
  padding-top: 96%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-concept__img {
    width: 77.7777%;
    max-width: 1140px;
    margin-left: auto;
    padding-top: 0;
    position: static;
  }
}

.p-concept__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

@media screen and (min-width: 768px) {
  .p-concept__img img {
    position: static;
  }
}

.p-concept__textbox {
  width: 640px;
  max-width: 100%;
  color: #fff;
  background-color: #31452d;
  padding: 57px 20px 33px 20px;
  padding: 3.5625rem 1.25rem 2.0625rem 1.25rem;
  bottom: -29px;
  left: 0;
}

@media screen and (min-width: 768px) {
  .p-concept__textbox {
    position: absolute;
    padding: 64px 48px;
  }
}

.p-concept__sub-title {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1;
}

@media screen and (min-width: 768px) {
  .p-concept__sub-title {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.p-concept__text {
  margin-top: 20px;
  margin-top: 1.25rem;
  font-size: 16px;
  font-size: 1rem;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .p-concept__text {
    margin-top: 0;
    line-height: 2.5;
    letter-spacing: 0.05em;
    margin-top: 10px;
  }
}

.p-concept__btn-inner {
  margin-top: 24px;
  text-align: right;
}

.p-contact {
  margin-top: 79px;
  padding: 40px 0;
  background-color: #eeead0;
}

@media screen and (min-width: 768px) {
  .p-contact {
    margin-top: 120px;
    padding: 120px 0;
  }
}

.p-contact__items {
  padding-top: 8px;
  padding-top: 0.5rem;
}

@media screen and (min-width: 768px) {
  .p-contact__items {
    padding-top: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-contact__item {
  padding: 32px 16px 32px 10px;
  padding: 2rem 1rem 2rem 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.p-contact__item:not(:nth-child(n + 3)) {
  border-bottom: 1px solid #333;
  border-bottom: 0.0625rem solid #333;
}

@media screen and (min-width: 768px) {
  .p-contact__item {
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 26.923%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .p-contact__item:not(:nth-child(n + 3)) {
    border-bottom: none;
  }
  .p-contact__item:not(:first-child) {
    border-left: 1px solid #333333;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__text {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__middle {
    margin-top: 16px;
  }
}

@media screen and (min-width: 768px) {
  .p-contact__bottom {
    margin-top: 20px;
    position: relative;
  }
}

.p-contact__btn {
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-contact__btn.u-btn-sp {
    display: none;
  }
}

.p-contact__btn.-yellow {
  background-color: #b69b04;
}

.p-contact__btn.-green {
  background-color: #31452d;
}

.p-contact__tel {
  font-size: 24px;
  font-size: 1.5rem;
  color: #31452d;
  font-family: "Lora", serif;
}

.p-contact__open {
  font-size: 12px;
  font-size: 0.75rem;
  color: #31452d;
  margin-top: 8px;
  position: absolute;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

@media screen and (min-width: 768px) {
  .p-contact__open {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}

.p-footer {
  text-align: center;
  color: #fff;
  padding-top: 40px;
  padding-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .p-footer {
    padding-top: 80px;
  }
}

.p-footer__company-name {
  padding-top: 20px;
}

.p-footer__address-inner {
  padding-top: 15px;
}

.p-footer__address:not(:first-child) {
  margin-left: 12px;
}

.p-footer__tel {
  padding-top: 15px;
}

.p-footer__email {
  padding-top: 15px;
}

.p-footer__list {
  display: block;
  padding: 31px 0 0 0;
  padding: 1.9375rem 0 0 0;
}

@media screen and (min-width: 768px) {
  .p-footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 50px 0 120px 0;
  }
}

.p-footer__link {
  color: #fff;
  border-bottom: 1px solid #fff;
  border-bottom: 0.0625rem solid #fff;
}

@media screen and (min-width: 768px) {
  .p-footer__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: none;
  }
  .p-footer__link:last-child {
    padding: 0 0 0 33px;
  }
  .p-footer__link:not(:first-child)::after {
    background-color: #fff;
  }
}

.p-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  height: 4rem;
  padding: 18px 0;
  padding: 1.125rem 0;
}

@media screen and (min-width: 768px) {
  .p-header {
    height: 5rem;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.p-header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  padding-right: 32px;
}

.p-header__logo-link {
  display: inline-block;
}

.p-header__link {
  display: inline-block;
}

.p-header__link span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #b69b04;
  margin-top: 6px;
  font-family: "Lora", serif;
}

.p-header__contact {
  padding: 23px 36px;
  background-color: #31452d;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .p-header__contact {
    padding: 23px 36px;
    height: 5rem;
  }
}

.p-header__contact span {
  display: block;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 400;
  color: #b69b04;
  margin-top: 6px;
}

.p-header-hamburger {
  width: 24px;
  width: 1.5rem;
  z-index: 300;
}

.p-header-hamburger.is-activer__icon1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 12px;
  top: 0.75rem;
}

.p-header-hamburger.is-active__icon2 {
  display: none;
}

.p-header-hamburger.is-active__icon3 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 12px;
  top: 0.75rem;
}

.p-header-hamburger__icons {
  padding: 8px 0;
  padding: 0.5rem 0;
  display: block;
  width: 24px;
  width: 1.5rem;
  height: 20px;
  height: 1.25rem;
  position: relative;
}

.p-header-hamburger__icon1, .p-header-hamburger__icon2, .p-header-hamburger__icon3 {
  position: absolute;
  width: 100%;
  height: 2px;
  height: 0.125rem;
  background-color: black;
  top: 0px;
  left: 0px;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.p-header-hamburger__icon2 {
  top: 8px;
  top: 0.5rem;
}

.p-header-hamburger__icon3 {
  top: 16px;
  top: 1rem;
}

.p-hero {
  height: 100vh;
  background: url(../images/pc/top-image.jpg) no-repeat center center/cover;
  position: relative;
  z-index: 1;
  /* 画像を暗くするオーバーレイ スマホ盤のみ*/
}

.p-hero::before {
  content: "";
  /* ↓暗いオーバーレイを半透明で配置 */
  background-color: rgba(0, 0, 0, .15);
  /* ↓全体を覆うように配置 */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .p-hero::before {
    background-color: transparent;
  }
}

.p-hero__title {
  color: #fff;
  font-size: 40px;
  font-size: 2.5rem;
  padding-top: 340px;
  padding-top: 21.25rem;
  padding-bottom: 18px;
  padding-bottom: 1.125rem;
  border-bottom: 1px solid #fff;
  text-shadow: 0 0 30.4px #333;
  line-height: 56px;
  line-height: 3.5rem;
  font-weight: 500;
  z-index: 10;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-hero__title {
    padding-top: 0;
    position: absolute;
    top: calc(50% + 30px);
    left: calc(50% - 520px);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 3.5rem;
    line-height: 3.5rem;
    padding-right: 119px;
    padding-bottom: 30px;
    text-shadow: 8px 0 8px #333333, 0px 8px 8px #333333, -8px 0 8px #333333, 0px -8px 8px #333333;
  }
}

.p-hero__title span {
  display: block;
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 24px;
  line-height: 40px;
  line-height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .p-hero__title span {
    font-size: 2.25rem;
    line-height: 3.5rem;
    text-shadow: 10px 0 10px #333333, 0px 10px 10px #333333, -10px 0 10px #333333, 0px -10px 10px #333333;
  }
}

.p-news {
  padding-top: 79px;
}

@media screen and (min-width: 768px) {
  .p-news {
    padding-top: 120px;
  }
}

.p-news__list {
  padding-top: 40px;
  padding-top: 2.5rem;
}

@media screen and (min-width: 768px) {
  .p-news__list {
    padding-top: 68px;
  }
}

.p-news__item {
  display: block;
  padding: 24px 0;
  padding: 1.5rem 0;
  margin: auto;
}

.p-news__item:not(:nth-child(n + 3)) {
  border-bottom: 1px solid #e5e5e5;
  border-bottom: 0.0625rem solid #e5e5e5;
}

@media screen and (min-width: 768px) {
  .p-news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    border-left: 1px solid #e5e5e5;
  }
  .p-news__item:not(:first-child) {
    margin-top: 24px;
  }
  .p-news__item:not(:nth-child(n + 3)) {
    border-bottom: none;
  }
}

.p-news__text {
  display: inline-block;
}

.p-news__text.-yellow {
  color: #b69b04;
}

.p-news__text:first-child {
  font-size: 14px;
  font-size: 0.875rem;
  margin-right: 12px;
  margin-right: 0.75rem;
}

.p-news__text:nth-child(n + 3) {
  margin-top: 16px;
  margin-top: 1rem;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .p-news__text {
    padding: 20px 40px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    line-height: 1.7;
  }
  .p-news__text:not(:first-child) {
    border-left: 1px solid #e5e5e5;
  }
  .p-news__text:first-child {
    font-size: 1rem;
    margin-top: 0;
  }
  .p-news__text:nth-child(n + 3) {
    margin-top: 0;
    line-height: 1.7;
  }
}

.p-news__btn-inner {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-news__btn-inner {
    margin-top: 35px;
  }
}

.p-privacy {
  width: 100%;
  background-color: #333333;
  border-top: 1px solid #fff;
}

.p-privacy__wrap {
  color: #fff;
  padding: 16px;
}

@media screen and (min-width: 768px) {
  .p-privacy__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 16px 0;
  }
}

.p-privacy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-privacy__link {
  position: relative;
  padding: 17px 0 24px 0;
  padding: 1.0625rem 0 24px 0;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
}

@media screen and (min-width: 768px) {
  .p-privacy__link {
    padding: 0 32px 0 0;
    font-size: 1rem;
  }
}

.p-privacy__link:not(:first-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 16px;
  height: 1rem;
  position: absolute;
  left: -42px;
  left: -2.625rem;
  top: calc(50% - 2px);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .p-privacy__link:not(:first-child)::after {
    height: 100%;
    position: absolute;
    left: 0;
    top: 50%;
  }
}

.p-privacy__copyright-inner {
  padding-top: 16px;
  padding-top: 1rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-privacy__copyright-inner {
    padding-top: 0;
  }
}

.p-privacy__copyright {
  font-size: 12px;
  font-size: 0.75rem;
}

.p-works {
  position: relative;
  padding-top: 79px;
}

@media screen and (min-width: 768px) {
  .p-works {
    padding-top: 150px;
  }
}

.p-works__bg {
  position: absolute;
  bottom: 80px;
  bottom: 5rem;
  right: 0;
  z-index: 1;
  width: 68.47222%;
  height: 508px;
  background-color: #eeead0;
}

@media screen and (min-width: 768px) {
  .p-works__bg {
    bottom: 80px;
    right: 0;
    z-index: 1;
    width: 68.47222%;
    height: 638px;
  }
}

.p-works__grid {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .p-works__grid {
    padding-top: 48px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 64px 40px;
  }
}

.p-works__item {
  width: calc(50% - 7.5px);
}

.p-works__item:nth-child(n+3) {
  margin-top: 41px;
  margin-top: 2.5625rem;
}

@media screen and (min-width: 768px) {
  .p-works__item {
    width: 100%;
  }
  .p-works__item:nth-child(3) {
    margin-top: 0;
  }
}

.p-works__head {
  padding-top: 65%;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-works__head {
    padding-top: 0;
    position: static;
  }
}

.p-works__head img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .p-works__head img {
    position: static;
  }
}

.p-works__body {
  padding: 17px 0 0 16px;
  padding: 1.0625rem 0 0 1rem;
  position: relative;
}

@media screen and (min-width: 768px) {
  .p-works__body {
    padding: 23px 0 0 30px;
    position: relative;
  }
}

.p-works__body::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 8px;
  left: 0.5rem;
  width: 1px;
  height: 96px;
  height: 6rem;
  background-color: #333333;
}

@media screen and (min-width: 768px) {
  .p-works__body::after {
    height: 144px;
    left: 22px;
  }
}

.p-works__item-title {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .p-works__item-title {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.p-works__btn-inner {
  margin-top: 16px;
}

.p-works__btn-inner.-all {
  margin-top: 70px;
  margin-top: 4.375rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .p-works__btn-inner.-all {
    margin-top: 70px;
  }
}
